.loading-overlay {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.section-loader {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.div-loader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5% auto;
    align-items: center;
    text-align: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--warning-color);
    border-bottom-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}